:root {
    /* Cool palette */
    --space-cadet: hsla(235, 21%, 21%, 1);
    --cool-gray: hsla(218, 17%, 62%, 1);
    --antiflash-white: hsla(197, 24%, 94%, 1);
    --red-pantone: hsla(353, 86%, 54%, 1);
    --fire-engine-red: hsla(350, 96%, 43%, 1);

    --primary-color: var(--space-cadet);
    --secondary-color: var(--fire-engine-red);
    --background-color: var(--antiflash-white);

    --section-padding: 1rem;
    --section-margin: 1rem 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    color: var(--secondary-color);
    text-wrap: balance;
}

section {
    background-image: linear-gradient(45deg, var(--cool-gray), var(--antiflash-white));
    padding: var(--section-padding);
    margin: var(--section-margin);
}

section p {
    font-size: small;
    font-weight: 600;
    color: var(--primary-color);
}